h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-top: 16px;
  margin-bottom: 48px;
}
.grade-semestres {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  .semestre {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    .titulo {
      background-color: #6a3ec4;
      color: #fff;
      font-weight: 600;
      span {
        display: inline-block;
        background: #f70063;
        padding: 16px 16px 0px 16px;
        font-size: 32px;
      }
    }
    ul {
      margin: 16px 16px 16px 32px;
    }
  }
}
