<form [formGroup]="formLogin">
  <img src="../../assets/logo-educatech.svg" alt="EducaTech" />

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" />
    @if (formLogin.controls['email'].hasError('email') &&
    !formLogin.controls['email'].hasError('required')) {
    <mat-error>Email inválido</mat-error>
    } @if (formLogin.controls['email'].hasError('required')) {
    <mat-error>Email obrigatório</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input type="password" matInput formControlName="senha" />
    @if (formLogin.controls['senha'].hasError('required')) {
    <mat-error>Senha obrigatória</mat-error>
    }
  </mat-form-field>

  <div class="botoes">
    <button type="button" mat-flat-button (click)="openDialog()">
      Cadastrar
    </button>
    <button
      type="submit"
      mat-flat-button
      (click)="entrar()"
      [disabled]="!formLogin.valid"
    >
      Entrar
    </button>
  </div>
</form>
