:root {
  --mdc-filled-button-container-color: #f70063;
  --mdc-filled-button-label-text-color: #ffffff;
  --mat-tab-header-inactive-label-text-color: #6c6c6c;
  --mat-tab-header-active-label-text-color: #000000;
  --mat-tab-header-active-hover-label-text-color: #000000;
  --mat-tab-header-inactive-focus-label-text-color: #000000;
  --mat-tab-header-inactive-hover-label-text-color: #000000;
  --mat-tab-header-active-focus-label-text-color: #000000;
  --mat-tab-header-divider-color: #cccccc;
  --mdc-tab-indicator-active-indicator-color: #6a3ec4;
  --mat-tab-header-active-hover-indicator-color: #6a3ec4;
  --mat-tab-header-active-focus-indicator-color: #6a3ec4;
  --mdc-filled-button-disabled-label-text-color: #6c6c6;
  --mdc-filled-button-disabled-container-color: #cccccc;
  --mdc-filled-text-field-container-color: #3e3e3e;
  --mat-form-field-error-text-color: #f70063;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f6f6f6;
}

h1 {
  margin-bottom: 36px;
}

ul li {
  cursor: pointer;
}

.mat-mdc-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.mdc-button__label {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  color: #000000;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
