* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f6f6f6;
}

h1 {
  margin-bottom: 36px;
}

ul li {
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ddd;
  &:hover {
    background-color: #ccc;
  }
}
