<section>
  <h3>Próximas atividades</h3>
  <ul>
    <li>
      <h4>Entrega de trabalho da disciplina X</h4>
      <p><strong>Data: </strong>15/02/2024</p>
    </li>
    <li>
      <h4>Avaliação da disciplina Y</h4>
      <p><strong>Data: </strong>15/02/2024</p>
    </li>
    <li>
      <h4>Chat com o mentor até a data Z</h4>
      <p><strong>Data: </strong>15/02/2024</p>
    </li>
  </ul>
</section>

<section>
  <h3>Minhas disciplinas</h3>
  <ul>
    <li>
      <h4>HTML</h4>
      <p><strong>Professor: </strong>Paulo dos Santos</p>
      <p><strong>Início: </strong>10/02/2024</p>
    </li>
    <li>
      <h4>CSS</h4>
      <p><strong>Professor: </strong>Paulo dos Santos</p>
      <p><strong>Início: </strong>10/02/2024</p>
    </li>
    <li>
      <h4>Javascript</h4>
      <p><strong>Professor: </strong>Paulo dos Santos</p>
      <p><strong>Início: </strong>10/02/2024</p>
    </li>
    <li>
      <h4>Angular</h4>
      <p><strong>Professor: </strong>Paulo dos Santos</p>
      <p><strong>Início: </strong>10/02/2024</p>
    </li>
  </ul>
</section>

<section>
  <h3>Cursos Extras</h3>
  <ul>
    <li>
      <h4>Workshop de Bootstrap</h4>
      <p><strong>Data: </strong>15/02/2024</p>
      <p><strong>Carga Horária: </strong>6 horas</p>
    </li>
    <li>
      <h4>Palestra sobre Linkedink</h4>
      <p><strong>Data: </strong>15/02/2024</p>
      <p><strong>Carga Horária: </strong>2 horas</p>
    </li>
  </ul>
</section>
