<div class="pesquisar">
  <label for="pesquisar">Pesquisar:</label>
  <input
    type="text"
    id="pesquisar"
    name="pesquisar"
    placeholder="Buscar por nome ou email"
    [(ngModel)]="textoPesquisa"
  />
  <button type="button" (click)="pesquisar()">Pesquisar</button>
  <button type="button" (click)="cadastrar()">Novo Aluno</button>
</div>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>E-mail</th>
      <th>Celular</th>
      <th>Curso</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aluno of pesquisaAlunos">
      <td>{{ aluno?.nomeCompleto }}</td>
      <td>{{ aluno?.cpf }}</td>
      <td>{{ aluno?.email }}</td>
      <td>{{ aluno?.celular }}</td>
      <td>{{ aluno?.curso }}</td>
      <td>
        <button type="button" (click)="editar(aluno.id)">Editar</button>
        <button type="button" (click)="excluir(aluno.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
